* {
font-display: swap;
}
@font-face {
   font-family: 'Arad';
   src: url('/fonts/Arad-Regular.woff2');
}
@font-face {
   font-family: 'Aradbold';
   src: url('/fonts/Arad-Bold.woff2');
}
@font-face {
   font-family: 'Aradmed';
   src: url('/fonts/Arad-Medium.woff2');
}
body {
   font-family: Arad;
}
#particles-js {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 0;
   pointer-events: auto;
   background: #08090C;
}

